body {
    padding: 0;
    margin: 0;
    color: goldenrod;
    background-color: rgb(156, 176, 182);
    font-family: Share Tech;
    text-align: center;
    font-weight: 900;
}

body h2 {
    text-shadow: 3px 3px black;
}

header {
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: 900;
    font-size: 1.6rem;
    background-color: rgb(0, 0, 0, 0.3);
}

.container {
    background-color: rgba(30, 181, 215, 0.1);
    background-color: rgb(143, 136, 127);
    text-align: left;
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px 25px 20px 25px;
    border-radius: 6px;
    border-width: 20px 3px 8px 1px;
    border-color: rgb(33, 29, 61);
    border-style: solid;
    box-shadow: 0 8px 12px 1px rgb(0, 0, 0, 0.6);
}

.titulo-fechado {
    display: block;
}

.card {
    transition:
        background-color 1s ease,
        color 1.5s ease,
        font-size 0.7s ease,
        height 0.4s ease,
        width 0.2s ease,
        padding 1s ease,
        margin-left 1s ease,
        opacity 3.5s ease,
        border-radius 0.7s ease;
}

.card-pessoa {
    color: black;
    align-items: center;
    min-height: auto;
    width: 80%;
    max-width: 600px;
    height: 2.4em;
    margin: auto;
    margin-bottom: 12px;
    padding-top: 12px;
    padding-left: 20px;
    border: 4px solid goldenrod;
    border-radius: 1.8em;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: darkgoldenrod;
    box-shadow: 0 4px 4px 1px rgb(0, 0, 0, 0.5);
}

.card-pessoa-select {
    height: auto;       
    width: 95%;
    color: black;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px;
    border: 4px solid darkgoldenrod;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: rgba(243, 233, 233, 0.5);
    box-shadow: 0 2px 2px 1px #1E3A8A;
}

.card-pessoa:hover {
    border: 4px solid black;
    color: black;
}

.conteudo {
    color: darkslategray;
    font-size: 1.1rem;
    transition: opacity 1.5s ease;
}

.escondido {
    opacity: 0;
    visibility: hidden;
}

.visivel {
    opacity: 1;
    visibility: visible;
}

.parte-fig-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.container-fig {
    width: 100%;
    max-width: 350px; 
}

.container-fig img {
    width: 100%;
    height: auto;
    max-height: 400px;        
    object-fit: contain;
    margin: auto;
    display: block;
}

.container-info {
    height: 100%;
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    align-items: center;
}


